body {
  background-color: #f9c099;
  color: white;
}

.App {
  text-align: center;
  font-size: 117%;
}

.header {
  width: auto;
  display: block;
  text-transform: uppercase;
}

.subhead {
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bolder;
}

.about {
  width: 650px;
  margin: 30px auto;
  border: 7px solid white;
  padding: 12px;
  background-color: #8d715c;
}

.services {
  width: 400px;
  height: 360px;
  margin: 12px auto;
  display: block;
}

.list {
  float: left;
  width: 200px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 6px;
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: center;
  width: 650px;
  margin: 170px auto;
}

.links > div {
  float: left;
  margin: 0 60px;
}

.services > .subhead {
  text-decoration: underline;
  margin-bottom: 17px;
}